<h1 style='color:blue'>Assignments related to MatplotLib
    using Tips dataset</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [34]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### Draw bar graph showing total tip amount for each day

#### Draw a pie chart showing total_bill for each day

#### Display two pie charts - one for total bill amount for male and another for female -  for each day

#### Display a histogram for tip percentage

#### Display a stacked bar for total bill of smokers and non-smokers for each day

#### Display stacked bar for count of transactions for male and female for each day

#### Display scatter plot for tip amount and total bill for first 10 highest tip amounts

#### Display scatter plot for tip percentage and size of the table where total_bill is more than 10

#### Display bar graph showing % of contribution each day has on total income

#### Display a line graph for total tip amount for each day and show total at the points